/**
 * components.scss
 * 
 * components for Robin
 */


/******************************************************************************

    general styling

******************************************************************************/

img {
    width: 100%;
}


/******************************************************************************

    text styling and utilities

******************************************************************************/

body, h1, h2, h3, h4, h5, h6, p, ul, 
button, textarea, input, option, select, a {
    font-family: $font-primary-type;
}

h1, h2, h3,
h4, h5, h6 {
    margin: $header-margin;
}

h1, h2, h3, h4, h5, h6, button { 
    font-weight: $font-weight-primary; 
}

body, p, ul, button, textarea, input, option, select, a {
    font-weight: $font-weight-secondary;
}

body { color: $color-text-body; }
h1 { color: $color-text-h1; }
h2 { color: $color-text-h2; }
a { 
   color: $color-text-link; 
   text-decoration: none;
}

.text-color-alt {
    color: $color-text-alt;
}

.text-center {
    text-align: center;
}




/******************************************************************************

    background color styles

******************************************************************************/
.bg-main { 
    background-color: $color-bg-main; 
}

.bg-white { 
    background-color: $color-bg-white; 
}

.bg-muted { 
    background-color: $color-bg-muted; 
}

.bg-dark { 
    background-color: $color-bg-dark;
    * { color: $color-text-bg-dark; } 
 }


/******************************************************************************

    navbar

******************************************************************************/

.navbar {
    display: flex;
    width: 100%;

    .nav-item {
        padding: $nav-item-padding;
        height: $nav-item-height;
        display: flex;
        align-items: center;
    }

    .nav-logo {
        a {
            font-size: $nav-logo-font-size;
        }
    }

    .nav-list {
        ul {
            @include remove-webkit-margin();

            li {
                display: inline-block;
                list-style-type: none;
                padding: 0;
                margin-right: $nav-list-li-margin-right;
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .navbar-mobile {
        flex-direction: column;

        .nav-item {
            height: $nav-item-height / 2;
            justify-content: space-evenly;
        }
    }
}





/******************************************************************************

    hero - utilities to create hero shots

******************************************************************************/

 // Standard hero - takes entire page except navbar
.hero { 
    height: calc(100vh - #{$nav-item-height}); 
}

// Short - leaves some space at the bottom
.hero-short {
    height: calc(100vh - 2 * #{$nav-item-height});
}

.hero-text {
    flex-direction: unset;
}

.hero-headline {
    margin-bottom: $hero-text-margin-bottom;
}

.hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/******************************************************************************

    cards 

******************************************************************************/

.card {
    padding: $card-padding;
    box-shadow: $card-box-shadow;
    background: $card-bg-color;
}


/******************************************************************************

    forms

******************************************************************************/


@mixin form-element-globals() {
    width: $form-element-width;
    border: $form-element-border; 
    color: $form-element-text-color;
    margin: $form-element-margin; 
}

@mixin form-element-height() {
    height: $form-element-height;
} 

.input {
    @include form-element-globals();
    -webkit-appearance: none;
    height: $form-element-height;
}

.textarea {
    @include form-element-globals();
    padding: 0;
}

.select {
    @include form-element-globals();
    height: $form-element-height;
    background-color: $form-select-white;
}


/******************************************************************************

    buttons

******************************************************************************/

.button {
    text-align: center;
    border: $button-border;
    margin: $button-margin;
    border-radius: $button-border-radius;
    padding: $button-padding;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    cursor: pointer;
    display: inline-block;
}

.button-primary {
    background-color: $button-primary-color-bg;
    color: $button-primary-color-text;
}
.button-primary:hover {
    background-color: lighten($button-primary-color-bg, 10%);
}

.button-accent-1 {
    background-color: $button-accent-1-color-bg;
    color: $button-accent-1-color-text;
}
.button-accent-1:hover {
    background-color: lighten($button-accent-1-color-bg, 10%); 
}

.button-accent-2 {
    background-color: $button-accent-2-color-bg;
    color: $button-accent-2-color-text;
}
.button-accent-2:hover {
    background-color: lighten($button-accent-2-color-bg, 10%); 
}

.button-transparent {
    background-color: $button-transparent-color-bg;
    color: $button-transparent-color-text;
    box-shadow: inset 0 0 0 1px $button-transparent-color-text;
}


/******************************************************************************

    flex

******************************************************************************/

.flex-even {
    justify-content: space-evenly;
}

.flex-align-center {
    align-items: center;
}

.flex-space-between {
    justify-content: space between
}

.flex-center {
    justify-content: center;
}