.hero {
    height: calc(100vh - #{$nav-item-height});

}
.hero-headline {
    font-size: 4em;
    margin-bottom: 0.25em;
}

.hero-short {
    height: calc(100vh - 2 * #{$nav-item-height});
}

.hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// Move color variables out
.card {
    padding: 2.5em 2.5em;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    background: white;
}

img {
    width: 100%;
}