.hero {
    height: calc(100vh - #{$nav-item-height});

}
.hero-headline {
    font-size: 4em;
    margin-bottom: 0.4em;
}

.hero-short {
    height: calc(100vh - 2 * #{$nav-item-height});
}

.hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}