@mixin remove-webkit-margin()  {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.navbar {
    // Remove colors
    color: white; 
    background-color: orange;
    display: flex;
    width: 100%;
}

.nav-item {
    padding: 0 2.5em;
    height: $nav-item-height;
    display: flex;
    align-items: center;
}

.nav-list {
    @include remove-webkit-margin();

    li {
        display: inline-block;
        list-style-type: none;
        padding: 0;
    }
}