/**
 * _text.scss
 * 
 * text styling and utilities
 */

body, h1, h2, h3, h4, h5, h6, p, ul, 
button, textarea, input, option, select, a {
    font-family: 'Lato', sans-serif;
}

body {
    color: #555;
}

a, h1 {
    color: #777;
}

a {
    color: $color-text-alt;
}

h2 {
    color: #999;
}

body, p, ul, button, textarea, input, option, select, a {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, button {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.text-color-alt {
    color: $color-text-alt;
}

.text-center {
    text-align: center;
}
/**
 *  Sets font size and line height - useful for establishing type scale
 * @param {Number} $size - font size
 * @param {Number} $line-height - font line height
 */
@mixin set-font-scale($size, $line-height) {
    font-size: $size;
    line-height: $line-height;
}

/**
 * Typographic scale
 * Adapted from
 * http://typecast.com/blog/a-more-modern-scale-for-web-typography
 * 
 * Also makes use of CSS variables.
 */
 
body { @include set-font-scale(1em, 1.25) }
h1   { @include set-font-scale(2em, 1.25) }
h2   { @include set-font-scale(1.625em, 1.25) }
h3   { @include set-font-scale(1.375em, 1.14) }
h4   { @include set-font-scale(1.125em, 1.11) }
h5   { @include set-font-scale(0.855em, 1.08) }
h6   { @include set-font-scale(0.725em, 1.05) }

@media (min-width: map-get($breakpoints, md)) {
    body { @include set-font-scale(1em, 1.375) }
    h1   { @include set-font-scale(2.5em, 1.125) }
    h2   { @include set-font-scale(2em, 1.25) }
    h3   { @include set-font-scale(1.5em, 1.25) }
    h4   { @include set-font-scale(1.222em, 1.22) }
}

@media (min-width: map-get($breakpoints, lg)) {
    h1   { @include set-font-scale(3em, 1.05) }
    h2   { @include set-font-scale(2.25em, 1.25) }
    h3   { @include set-font-scale(1.75em, 1.25) }
}