/**
 * globals
 */
$maxcols: 6;

$breakpoints: (
    null: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px
);

$aquamarine-main: #2592A3;
$grey-darker: #555;
$grey-medium: #777;
$grey: #999;

$color-bg-muted: rgba(249, 249, 249, 1);
$color-bg-dark: rgba(6, 6, 6, 1);
$color-bg-white: rgba(253, 253, 253, 1);
$color-bg-main: rgba(253, 253, 253, 1);

/**
 * font styling
 */
$font-primary-type: 'Lato', sans-serif;
$font-weight-primary: 400;
$font-weight-secondary: 300;
$font-color-body: $grey-darker;
$font-color-h1: $grey-medium;
$font-color-h2: $grey;
$font-color-link: $aquamarine-main;
$font-color-alt: $aquamarine-main;

/**
 * grid and layout
 */
$section-top-padding: 2.25em;
$section-bottom-padding: $section-top-padding * 1.33;

/**
 * navigation
 */
$nav-item-height: 5em;

/**
 * hero shot
 */
$hero-img: "../img/flamingos.jpeg";
$hero-text-color: white;
$hero-font-size: 4em;
$hero-text-margin-bottom: 0.25em;

/**
 * cards
 */
$card-padding: 2.5em 2.5em;
$card-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
$card-bg-color: $color-bg-white;

/**
 * forms
 */
$form-element-height: 2em;
$form-element-width: 100%;
$form-element-border: 1px solid #e3e3e3;
$form-element-margin: 0 0 1em 0;
$form-element-text-color: #666;
$form-select-white: $color-bg-white;



