// Change this when bundling
$hero-img: "../img/flamingos.jpeg";
$hero-alpha: 0.25;
$hero-text-color: white;

$nav-item-height: 5em;

$section-top-padding: 2.25em;
$section-bottom-padding: $section-top-padding * 1.33;

$color-bg-muted: grey;
$color-bg-dark: black;
$color-bg-white: white;
$color-bg-main: white;