<nav class="navbar">
    <div class="nav-item nav-logo">Logo</div>
    <div class="nav-item">
        <ul class="nav-list">
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </div>
</nav>