<nav class="navbar">
    <div class="nav-item nav-logo">Logo</div>
    <div class="nav-item">
        <ul class="nav-list">
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </div>
</nav>
<section class="hero-short">
    <div class="row row-3-md flex-align-center hero-text">
        <div class="col-6 text-center">
            <h1>Flamingos.</h1>
            <h2>Flamingos <em>everywhere</em>.</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="row row-5-md">
        <div class="col-6">
            <h1>Flamingo Facts</h1>
        </div>
    </div>
    <div class="row row-5-md">
        <div class="col-6 col-2-md">
            <div class="card">
                <h2>Flamingos Are Fun</h2>
                <p>Flamingos are known to throw massive parties like the one you
                    see on the picture above.
                </p>
            </div>
        </div>
        <div class="col-6 col-2-md">
            <div class="card">
                <h2>Flamingos Are Fast</h2>  
                <p>Flamingos can run at speeds of over 30 kilometers per
                    hour. Possibly.
                </p>
            </div>
        </div>
        <div class="col-6 col-2-md">
            <div class="card">
                <h2>Flamingos Are Fussy</h2>  
                <p>Flamingos refuse to eat anything but the finest, freshest
                    shrimp. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section bg-muted">
    <div class="row row-5-md">
        <div class="col-6">
            <h1>Meet Fred, The Friendly Flamingo </h1>
        </div>
    </div>
    <div class="row row-5-md flex-even">
        <div class="col-6 col-2-md">
            <img src="img/fred-2.jpeg" alt="">
        </div>
        <div class="col-6 col-3-md">
            <h2>Flamboyant. Frank. Flightless.</h2>
            <p>
                Fred may appear flashy and feisty when you first meet
                him, but don't let appearances fool you. These
                bright pink feathers hide a being with an honest and
                introspective personality.
            </p>
            <p>
                Though Fred works in finance, he spends much of his time
                thinking about the flight of flamingos. When did they
                lose this precious ability? Can Darwin explain this?
                Can anyone?
            </p>
            <p>
                These meditations have not made Fred lose his joie de vivre,
                however. If you know him, it's probably because you've met
                him at one of the fulgurant parties he so often organizes.
            </p>
            <p>
                If you haven't met him yet, then what are you waiting to join
                one of his fêtes? They are always open house. Feathered or
                featherless, you will be welcome!
            </p>


        </div>
    </div>
</section>
<section class="section">
    <div class="row row-5-md">
        <div class="col-2">
            <h1>Flabbergasted? Find Out More!</h1>
        </div>
    </div>
    <div class="row row-5-md flex-even">
        <div class="col-6 col-2-md">
           <p>To find out more about Flamingo Co. or the Flamingo Freedom
               Foundation, fill out this form. 
           </p>
           <p>
               One of our flamingo friends will be in touch shortly - we promise!
           </p>

        </div>
        <div class="col-6 col-2-md">
            <form action="">
                <input class="input" placeholder="Your email" type="text">
                <input class="input" placeholder="Your name" type="text">
                <select class="select" name="question">
                    <option value="" disabled selected>Type of query</option>
                    <option value="one">A flamingo wronged me</option>
                    <option value="one">Flamingos are awesome</option>
                    <option value="one">Other flaming queries</option>
                </select>
                <textarea class="textarea" name="" id="" rows="5" placeholder="Your query"></textarea>

            </form>
            <button class="button button-primary">Submit</button>
        </div>
        <div class="col-6 col-1-md">
            <img src="img/flamingo3.svg" alt="">
        </div>

    </div>
</section>
<footer class="bg-dark">
    <div class="row flex-align-center">
        <div class="col-6 text-center">
            <p>
                Made with Robin. Copyright 2018 Alex Erhardt.
            </p>
        </div>
    </div>
</footer>