<nav class="navbar">
    <div class="nav-item nav-logo">Logo</div>
    <div class="nav-item">
        <ul class="nav-list">
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </div>
</nav>
<section class="hero">
    <div class="row-3 flex-align-center hero-text">
        <div class="col-6 text-center">
            <h1>Flamingos.</h1>
            <h2>Flamingos <em>everywhere</em>.</h2>
        </div>
    </div>
</section>