<div class="row bg-purple">
    <div class="col-6 bg-yellow force-height">This is a 6 span col</div>
</div>

<div class="row bg-purple">
    <div class="col-1 bg-yellow force-height">This is a 1 span col</div>
    <div class="col-1 bg-yellow force-height">This is a 1 span col</div>
    <div class="col-1 bg-yellow force-height">This is a 1 span col</div>
</div>

<div class="row bg-purple">
    <div class="col-2 bg-yellow force-height">
        <div class="card">
            <h3>This is a card</h3>
        </div>
    </div>
    <div class="col-2 bg-yellow force-height">
        <div class="card">
            <h3>This is a card</h3>
        </div>
    </div>
    <div class="col-2 bg-yellow force-height">
        <div class="card">
            <h3>This is a card</h3>
        </div>
    </div>
</div>