<nav class="navbar">
    <div class="nav-item nav-logo">
        <a href="/">Robin</a>
    </div>
    <div class="nav-item">
        <p>A feather-light CSS framework</p>
    </div>
</nav>
<section class="hero-short hero-main">
    <div class="row row-3-md flex-align-center hero-text">
        <div class="col-6 text-center">
            <h1 class="hero-headline">Simple. Flexible. Light.</h1>
            <h2>Robin provides the tools to build simple and elegant websites</h2>
            <button class="button">Example Page</button>
            <button class="button button-primary">Download Files</button>
        </div>
    </div>
</section>