<nav class="navbar">
    <div class="nav-item nav-logo">
        <a href="/">Robin</a>
    </div>
    <div class="nav-item">
        <p>A feather-light CSS framework</p>
    </div>
</nav>
<section class="hero-short hero-main">
    <div class="row row-3-md flex-align-center hero-text">
        <div class="col-6 text-center">
            <h1 class="hero-headline">Simple. Flexible. Light.</h1>
            <h3>Build simple and elegant websites with Robin</h3>
            <a class="button" href="/example">Example Page</a>
            <a class="button button-primary" href="/get-files">Download Files</a>
        </div>
    </div>
</section>
<section class="section">
    <div class="row row-3-md p-big"> 
        <div class="col-6">
            <h2>Getting Started</h2>
            <p>Download the files, unzip it with your program of choice, and
                then copy the file <span class="code-quote">robin.css</span> to your css folder
                of choice (normally, <span class="code-quote">public/css</span>).
            </p>
            <p>Next, include the file inside your HTML head like so:
                <pre><code>
&lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/css/robin.css&quot;&gt;
                </code></pre>
            </p>
            <p>If you want to recompile </p>

        </div>

    </div>
</section>