<nav class="navbar navbar-mobile">
    <div class="nav-item nav-logo">
        <a href="/">Robin</a>
    </div>
    <div class="nav-item">
        <p>A feather-light CSS framework</p>
    </div>
</nav>
<section class="hero-short hero-main">
    <div class="row row-3-md flex-even flex-align-center hero-text">
        <div class="col-6 text-center">
            <h1 class="hero-headline">Simple. Flexible. Light.</h1>
            <h3 class="hero-subheadline">Build simple and elegant websites with Robin</h3>
            <a class="button button-transparent" href="/example">Example Page</a>
            <a class="button button-primary" href="/get-files">Download Files</a>
        </div>
    </div>
</section>
<section class="section">
    <div class="row row-4-md p-big flex-even"> 
        <div class="col-6 col-5-md">
            <h2>Getting Started</h2>
            <p>Download the files, unzip them with your program of choice, 
                then copy the file <span class="code-quote">robin.css</span> to your css folder
                (normally, <span class="code-quote">public/css</span>).
            </p>
            <p>Next, include the file inside your HTML head like this:
                <pre><code>
&lt;link rel=&quot;stylesheet&quot; href=&quot;css/robin.css&quot;&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;https://fonts.googleapis.com/css?family=Lato:300,400&quot;&gt
                </code></pre>
            </p>
            <p>
                Note that the second line is important, as Robin does not come
                packaged with its default font. You may change it by adding
                your own font and changing 
                <span class="code-quote">$font-primary-type</span> in
                <span class="code-quote">_variables.scss</span>
            </p>
        </div>
    </div>
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
            <h3>Customizing</h3>
            <p>The quickest way to customise Robin is to change the variables
                in <span class="code-quote">_variables.scss</span> and to recompile
                the provided .scss files.
            </p>
            <p>
               If you don't know Sass, you can always layer your own stylesheets
               on top of Robin. But we recommend that you <a href="https://sass-lang.com/guide">learn Sass</a> - you can 
               get going in an afternoon and it will forever change the way
               you do CSS - guaranteed!
            </p>
        </div>
    </div>
</section>

<section class="section bg-muted">
    <div class="row row-4-md p-big flex-even"> 
        <div class="col-6 col-5-md">
            <h2>The Grid</h2>
            <p>The grid has two basic elements: rows and columns.</p>
            <p>By default, the grid is 6-columns wide, although this can be changed
                in <span class="code-quote">_variables.scss</span>
            </p>
            <p>Both row and column elements can be suffixed with numbers from 1 to 6, such
                as <span class="code-quote">row-6</span> or <span class="code-quote">col-3</span> 
                to determine how wide they are. In the example below, we create a row that
                spans 4/6 of the page (so two-thirds, or about 66.7%), with three equal
                columns inside it.
            </p>
            <pre><code>
&lt;div class=&quot;row-4&quot;&gt;
    &lt;div class=&quot;col-2&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;col-2&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;col-2&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
            </code></pre>
            <p>A row or a column without a suffix (ie, 
                <span class="code-quote">.row</span> or
                <span class="code-quote">.col</span>)
                will produce rows and columns spanning 100% of the parent. <br>
            </p>
            <p>
                By default, columns have side gutters of 1em (16px).
            </p>
        </div>
    </div>
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
            <h3>Grid Breakpoints</h3>
            <p>The grid comes with three default breakpoints: small (480px), medium (768px),
                and large (992px). You can easily add new breakpoints by changing the following
                map in <span class="code-quote">_variables.scss</span>: 
            </p>
            <pre><code class="scss">
$breakpoints: (
    null: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px
);
            </code></pre>
            <p>
                When you add or remove breakpoints to this map, the grid generator
                function will automatically create all the breakpoint classes with
                their respective breakpoint names as suffixes. 
                To alter how the grid behaves at different breakpoints, you can
                thus do the following:
            </p>
            <pre><code>
&lt;!-- Row spans entire width on mobile, but only 4/6 starting at 768px --&gt;
&lt;div class=&quot;row-6 row-4-md&quot;&gt;
    &lt;!-- Columns span 100% on mobile, but only 3/6 starting at 576px --&gt;
    &lt;div class=&quot;col-6 col-3-sm&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;col-6 col-3-sm&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
            </code></pre>
        </div>
    </div>
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
            <h3>Sections</h3>
            <p>
                Sections are 100% width containers that wrap rows and columns. 
                Though they are not strictly necessary, they can help you visually differentiate
                vertical spaces in your page, while making your code semantically
                richer.
            </p>
            <p>
                To use sections, apply the <span class="code-quote">.section</span> class,
                plus a background color modifier if you'd like: 
                <span class="code-quote">.bg-main</span>, 
                <span class="code-quote">.bg-muted</span>, 
                <span class="code-quote">.bg-white</span>, and  
                <span class="code-quote">.bg-dark</span>.
            </p>
            <p>These background color classes can be applied to any element with a background.
                They come mapped to whites, greys and blacks by default but you
                can change them easily in <span class="code-quote">_variables.scss.</span>
            </p>
            <pre><code>
&lt;!-- Create a section with main color background (white by default) --&gt;
&lt;div class=&quot;section bg-main&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;col&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;!-- Create a section with muted background (light grey by default) --&gt;
&lt;div class=&quot;section bg-muted&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;col&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
        </div>
    </div>
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
            <h3>Flex Utilities</h3>
            <p>Rows are created as flex containers. To play with how columns
                are arranged inside them, you can the following classes:
                <span class="code-quote">flex-even</span>, 
                <span class="code-quote">flex-align-center</span>, and 
                <span class="code-quote">flex-space-between</span>.
            </p>
            <p>You may also want to add you own flex classes. Refer to
                the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/flex">flex documentation</a> to see the possibilities.
            </p>
        </div>
    </div>
</section>
<section class="section bg-white">
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
            <h2>Responsive Text</h2>
            <p>Robin comes with a typographic scale to make text responsive
                to different screen widths. You can tweak or add to the scale
                by changing the following section of <span class="code-quote">_variables.scss</span>
            </p>
            <pre><code class="scss">
body { @include set-font-scale(1em, 1.25) }
h1   { @include set-font-scale(2em, 1.25) }
h2   { @include set-font-scale(1.625em, 1.25) }
h3   { @include set-font-scale(1.375em, 1.14) }
h4   { @include set-font-scale(1.125em, 1.11) }
h5   { @include set-font-scale(0.855em, 1.08) }
h6   { @include set-font-scale(0.725em, 1.05) }
.hero-headline { @include set-font-scale(3em, 1.25); }
            </code></pre>
            <p>Note: only the base breakpoint is shown; table continues for other breakpoints.</p>
        </div>
    </div>
</section>
<section class="section bg-muted">
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
            <h2>Navbar Component</h2>
            <p>
                Navigation bars can be easily created by adding the <span class="code-quote">.navbar</span>
                class to a nav element. Navs span 100% of the page width.
            </p>
            <p>
                To add nav subcomponents, add the <span class="code-quote">.nav-item</span> class
                to a div inside the navbar.
                Two subcomponents are supported at present:
                <span class="code-quote">.nav-logo</span> for your branding, and
                <span class="code-quote">.nav-list</span> for navigational links.
            </p>
            <p>
                You can make the navbar mobile-responsive with
                <span class="code-quote">.nav-mobile</span>.
                Do note however that only a navbar made of a logo and a list of links
                is supported right now. If you want more complex elements
                and layouts, you'll have to customise the code.
            </p>
            <p>
                Putting it all together, we have:

            </p>
            <pre><code>
&lt;nav class&quot;navbar navbar-mobile&quot;&gt;
    &lt;div class=&quot;nav-item nav-logo&quot;&gt;
        &lt;a href=&quot;/&quot;&gt;Your Logo&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nav-item nav-list&quot;&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;/1.html&quot;&gt;Link 1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;/2.html&quot;&gt;Link 2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;/3.html&quot;&gt;Link 3&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;/nav&gt;
            </code></pre>


        </div>
    </div>
</section>
<section class="section bg-muted">
    <div class="row row-4-md p-big flex-even">
        <div class="col-6 col-5-md">
        </div>
    </div>
</section>