.hero-flamingo {
    background-image: url("../img/flamingos.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/flamingos.jpeg");
}
 .hero-main {
    background-color: #2592a3;
    background-image: url("https://www.transparenttextures.com/patterns/light-mesh.png");
 }