/******************************************************************************

    superglobals - # of columns, breakpoints, color definitions

******************************************************************************/
/******************************************************************************

    font scaling

******************************************************************************/
/**
 *  Sets font size and line height - useful for establishing type scale
 * @param {Number} $size - font size
 * @param {Number} $line-height - font line height
 */
/**
 * Typographic scale
 * Adapted from
 * http://typecast.com/blog/a-more-modern-scale-for-web-typography
 * 
 * Also makes use of CSS variables.
 */
body {
  font-size: 1em;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.25;
}

h3 {
  font-size: 1.375em;
  line-height: 1.14;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11;
}

h5 {
  font-size: 0.855em;
  line-height: 1.08;
}

h6 {
  font-size: 0.725em;
  line-height: 1.05;
}

.hero-headline {
  font-size: 3em;
  line-height: 1.25;
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    font-size: 1.222em;
    line-height: 1.22;
  }
  .hero-headline {
    font-size: 3.5em;
    line-height: 1.1;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
  .hero-headline {
    font-size: 4em;
    line-height: 1.1;
  }
}

/******************************************************************************

    component variables

******************************************************************************/
/**
 * type and weight
 */
/**
 * default text colors
 */
/**
 * background color with text pairings
 */
/**
 * text styling
 */
/**
 * grid and layout
 */
/**
 * navigation
 */
/**
 * hero shot
 */
/**
 * cards
 */
/**
 * forms
 */
/**
 * buttons
 */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.hero-text {
  height: inherit;
}

.hero-text * {
  color: white;
}

.hero-main .button {
  margin-bottom: 1em;
  width: 50%;
}

@media (min-width: 768px) {
  .hero-main .button {
    margin-bottom: 1em;
    width: unset;
  }
}

.hero-flamingo {
  background-image: url("../img/flamingos.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/flamingos.jpeg");
}

.hero-main {
  background-color: #2592a3;
  background-image: url("https://www.transparenttextures.com/patterns/light-mesh.png");
}

.code-quote {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  background-color: #e9e9e9;
  font-size: 0.9em;
  padding: 0 0.3em;
}

.hero-subheadline {
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  .p-big p {
    font-size: 1.2em;
  }
}

footer {
  height: 5em;
}

footer > div {
  height: inherit;
}

/**
 * _grid.scss
 * 
 * grid generation and general layout styling
 * 
 */
/* .......................................................................... */
/**
 * sections
 * 
 * add padding to space them out vertically
 */
.section {
  padding-top: 2.25em;
  padding-bottom: 2.9925em;
}

/**
 * rows 
 * 
 * default width creates margins on the sides
 * flex-direction is colum so that columns stack on mobile
 * 
 */
*[class^="row"], *[class*=" row"] {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

*[class^="row"]:not(:last-child), *[class*=" row"]:not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 576px) {
  .row {
    flex-direction: unset;
  }
}

/**
 * cols
 * 
 * use padding as means of setting gutter, then negative margins for mobile
 * (credit to Bootstrap for this trick)
 * use bottom margins to space out cols vertically on mobile, and unset
 * these at larger size
 * 
 */
*[class^="col-"], *[class*=" col-"] {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

*[class^="col-"]:not(:last-child),
*[class*=" col-"]:not(:last-child) {
  margin-bottom: 1.5em;
}

@media (min-width: 576px) {
  *[class^="col-"], *[class*=" col-"] {
    margin-left: 0;
    margin-right: 0;
  }
  *[class^="col-"]:not(:last-child),
  *[class*=" col-"]:not(:last-child) {
    margin-bottom: 0;
  }
}

/**
 * grid generator helper
 * generate a width percentage from a number
 * ex: get-col-width(3) => percentage(3/6) = 50%
 */
/**
 * grid generator
 * For each breakpoint, generates a media query with all possible suffixes.
 */
@media (min-width: 0px) {
  .row-1 {
    width: 16.66667%;
    flex-direction: unset;
  }
  .col-1 {
    width: 16.66667%;
  }
  .row-2 {
    width: 33.33333%;
    flex-direction: unset;
  }
  .col-2 {
    width: 33.33333%;
  }
  .row-3 {
    width: 50%;
    flex-direction: unset;
  }
  .col-3 {
    width: 50%;
  }
  .row-4 {
    width: 66.66667%;
    flex-direction: unset;
  }
  .col-4 {
    width: 66.66667%;
  }
  .row-5 {
    width: 83.33333%;
    flex-direction: unset;
  }
  .col-5 {
    width: 83.33333%;
  }
  .row-6 {
    width: 100%;
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .row-1-sm {
    width: 16.66667%;
    flex-direction: unset;
  }
  .col-1-sm {
    width: 16.66667%;
  }
  .row-2-sm {
    width: 33.33333%;
    flex-direction: unset;
  }
  .col-2-sm {
    width: 33.33333%;
  }
  .row-3-sm {
    width: 50%;
    flex-direction: unset;
  }
  .col-3-sm {
    width: 50%;
  }
  .row-4-sm {
    width: 66.66667%;
    flex-direction: unset;
  }
  .col-4-sm {
    width: 66.66667%;
  }
  .row-5-sm {
    width: 83.33333%;
    flex-direction: unset;
  }
  .col-5-sm {
    width: 83.33333%;
  }
  .row-6-sm {
    width: 100%;
    flex-direction: column;
  }
  .col-6-sm {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .row-1-md {
    width: 16.66667%;
    flex-direction: unset;
  }
  .col-1-md {
    width: 16.66667%;
  }
  .row-2-md {
    width: 33.33333%;
    flex-direction: unset;
  }
  .col-2-md {
    width: 33.33333%;
  }
  .row-3-md {
    width: 50%;
    flex-direction: unset;
  }
  .col-3-md {
    width: 50%;
  }
  .row-4-md {
    width: 66.66667%;
    flex-direction: unset;
  }
  .col-4-md {
    width: 66.66667%;
  }
  .row-5-md {
    width: 83.33333%;
    flex-direction: unset;
  }
  .col-5-md {
    width: 83.33333%;
  }
  .row-6-md {
    width: 100%;
    flex-direction: column;
  }
  .col-6-md {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .row-1-lg {
    width: 16.66667%;
    flex-direction: unset;
  }
  .col-1-lg {
    width: 16.66667%;
  }
  .row-2-lg {
    width: 33.33333%;
    flex-direction: unset;
  }
  .col-2-lg {
    width: 33.33333%;
  }
  .row-3-lg {
    width: 50%;
    flex-direction: unset;
  }
  .col-3-lg {
    width: 50%;
  }
  .row-4-lg {
    width: 66.66667%;
    flex-direction: unset;
  }
  .col-4-lg {
    width: 66.66667%;
  }
  .row-5-lg {
    width: 83.33333%;
    flex-direction: unset;
  }
  .col-5-lg {
    width: 83.33333%;
  }
  .row-6-lg {
    width: 100%;
    flex-direction: column;
  }
  .col-6-lg {
    width: 100%;
  }
}

/**
 * components.scss
 * 
 * components for Robin
 */
/******************************************************************************

    general styling

******************************************************************************/
img {
  width: 100%;
}

/******************************************************************************

    text styling and utilities

******************************************************************************/
body, h1, h2, h3, h4, h5, h6, p, ul,
button, textarea, input, option, select, a {
  font-family: "Lato", sans-serif;
}

h1, h2, h3,
h4, h5, h6 {
  margin: 0 0 0.66em 0;
}

h1, h2, h3, h4, h5, h6, button {
  font-weight: 400;
}

body, p, ul, button, textarea, input, option, select, a {
  font-weight: 300;
}

body {
  color: #555;
}

h1 {
  color: #777;
}

h2 {
  color: #999;
}

a {
  color: #2592A3;
  text-decoration: none;
}

.text-color-alt {
  color: #2592A3;
}

.text-center {
  text-align: center;
}

/******************************************************************************

    background color styles

******************************************************************************/
.bg-main {
  background-color: #fdfdfd;
}

.bg-white {
  background-color: #fdfdfd;
}

.bg-muted {
  background-color: #f9f9f9;
}

.bg-dark {
  background-color: #060606;
}

.bg-dark * {
  color: #fff;
}

/******************************************************************************

    navbar

******************************************************************************/
.navbar {
  display: flex;
  width: 100%;
}

.nav-logo a {
  font-size: 1.33em;
}

.nav-item {
  padding: 0 2.5em;
  height: 5em;
  display: flex;
  align-items: center;
}

.nav-list {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.nav-list li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-right: 1.5em;
}

/******************************************************************************

    hero - utilities to create hero shots

******************************************************************************/
.hero {
  height: calc(100vh - 5em);
}

.hero-short {
  height: calc(100vh - 2 * 5em);
}

.hero-headline {
  margin-bottom: 0.25em;
}

.hero-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/******************************************************************************

    cards 

******************************************************************************/
.card {
  padding: 2.5em 2.5em;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  background: #fdfdfd;
}

/******************************************************************************

    forms

******************************************************************************/
.input {
  width: 100%;
  border: 1px solid #e3e3e3;
  color: #666;
  margin: 0 0 1em 0;
  -webkit-appearance: none;
  height: 2em;
}

.textarea {
  width: 100%;
  border: 1px solid #e3e3e3;
  color: #666;
  margin: 0 0 1em 0;
  padding: 0;
}

.select {
  width: 100%;
  border: 1px solid #e3e3e3;
  color: #666;
  margin: 0 0 1em 0;
  height: 2em;
  background-color: #fdfdfd;
}

/******************************************************************************

    buttons

******************************************************************************/
.button {
  text-align: center;
  border: none;
  margin: 0 0.5em;
  border-radius: 0;
  padding: 0 2.25em;
  font-weight: 400;
  line-height: 2.5em;
  cursor: pointer;
  display: inline-block;
}

.button-primary {
  background-color: #060606;
  color: #fff;
}

.button-transparent {
  background-color: unset;
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

/******************************************************************************

    flex

******************************************************************************/
.flex-even {
  justify-content: space-evenly;
}

.flex-align-center {
  align-items: center;
  flex-direction: unset;
}

.flex-space-between {
  justify-content: space between;
}
